//自訂主題, https://material.angular.io/guide/theming-your-components

//SCSS debug 的方法: https://www.sitepoint.com/using-sass-error-warn-and-debug-directives/
// @error "要檢查的變數: `#{$要檢查的變數}`.";

@use "@angular/material" as mat;
@use "./table-theme" as entries; //自訂組件主題-表格

@include mat.core();

//黑暗主題(預設)
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $dark-primary,
			accent: $dark-accent,
		),
	)
);

@include mat.all-component-themes($dark-theme);
@include entries.theme($dark-theme);

//明亮主體
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme(
	(
		color: (
			primary: $light-primary,
			accent: $light-accent,
		),
	)
);

.theme-my-light {
	@include mat.all-component-themes($light-theme);
	@include entries.theme($light-theme);
}

//預設主題 purple-green
// 參考原始碼(需把物件名改成mat):
// https://github.com/angular/components/blob/master/src/material/core/theming/prebuilt/purple-green.scss
$pg-primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$pg-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$pg-theme: mat.define-dark-theme(
	(
		color: (
			primary: $pg-primary,
			accent: $pg-accent,
		),
	)
);

.theme-purple-green {
	@include mat.all-component-themes($pg-theme);
	@include entries.theme($pg-theme);
}