<h1>Page: ReqRes</h1>
<h3>API來源: https://reqres.in/</h3>
<!-- 遠端表格練習 -->
<div class="mat-elevation-z8">
	<table mat-table class="full-width-table" [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

		<!-- 定義欄位:ID -->
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
			<td mat-cell *matCellDef="let row; debugger">{{row.id}}</td>
		</ng-container>

		<!-- 定義欄位:名 -->
		<ng-container matColumnDef="first_name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>First Name 名</th>
			<td mat-cell *matCellDef="let row">{{row.first_name}}</td>
		</ng-container>

		<!-- 定義欄位:姓 -->
		<ng-container matColumnDef="last_name">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name 姓</th>
			<td mat-cell *matCellDef="let row">{{row.last_name}}</td>
		</ng-container>

		<!-- 定義欄位:email -->
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Email 信箱</th>
			<td mat-cell *matCellDef="let row">{{row.email}}</td>
		</ng-container>

		<!-- 定義欄位:頭像 -->
		<ng-container matColumnDef="avatar">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>Avatar 頭像</th>
			<td mat-cell *matCellDef="let row">{{row.avatar}}</td>
		</ng-container>
	</table>

	<!-- 分頁bar -->
	<mat-paginator #paginator
		[length]="total"
		[pageIndex]="pageIndex"
		[pageSize]="6"
		[pageSizeOptions]="[6]"
		(page)="pageEvent = getServerData($event)">
	</mat-paginator>

	<!-- loading -->
	<div *ngIf="isLoading" class="loading">
		<mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
	</div>

</div>