<mat-toolbar color="primary">

	<!-- 漢堡按鈕 -->
	<button mat-button class="hamburger" (click)="openDrawer()">
		<mat-icon>menu</mat-icon>
	</button>

	<!-- 路由, fxHide.lt-sm:小於599px隱藏 -->
	<div fxHide.lt-sm *ngFor="let navRoute of navRoutes">
		<button mat-button [class.selected]="this.router.url === navRoute.url"
			routerLink="{{navRoute.url}}">{{navRoute.name}}
		</button>
	</div>


	<!-- 右項目 -->
	<div fxFlex fxLayoutAlign="end center">

		<input class="search" type="search" placeholder="查詢">

		<!-- 按鈕:主題 -->
		<button mat-icon-button [matMenuTriggerFor]="themeMenu" aria-label="主題">
			<fa-icon [icon]="faPalette"></fa-icon>
		</button>
		<mat-menu #themeMenu="matMenu">
			<ng-container *ngFor="let theme of themes">
				<button mat-menu-item (click)="changeTheme(theme)" (testEvent)="changeTheme(theme)">
					{{theme}}
				</button>
			</ng-container>
		</mat-menu>

		<!-- 按鈕:links -->
		<ng-container *ngFor="let navLink of navLinks">
			<button mat-icon-button (click)="openSite(navLink.url)" aria-label="navLinks">
				<fa-icon [icon]="navLink.iconDefinition"></fa-icon>
			</button>
		</ng-container>
	</div>

</mat-toolbar>