/* 全域樣式表 */

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style-type: none;
}
body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

//捲軸樣式
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	overflow-y: scroll;
}
::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 5px;
}